<template>
    <div>
       
    {{msg}}
    </div>
</template>

<script>
export default {
    data() {
        return {
            msg: "something"
        };
    },
    methods: {
        bump() {
            this.msg += "1";
        }
    }

}
</script>

<style>

</style>
