<template>
    <div id="vue-search-app" @keyup="keyPress">
        <div>
            <label for="search">{{label}}</label>
            <input type="text" 
                    autocomplete="off" 
                    class="form-control" 
                    id="search" 
                    v-model="query"
                    @input="search"
                    v-if="isSelectionMade == false"
                    :required="required"
                    >
            <div v-else id="selection" class="form-control cursor-none" disabled>{{query}}
                <span class="close-icon" @click="unMakeSelection"></span>
            </div>
        </div>
        <p v-show="searching">
            Searching for: {{query}}
            <i class="fa fa-spinner fa-spin"></i>
        </p>
        <ul v-show="isOpen" class="list-group search-results">
                <li class="list-group-item" v-bind:class="{active: item.isActive}" v-for="(item, key) in results" :key="item.unid" @click="setActiveIndex(key); selectionMade();">
                    {{ item.unid }}: {{ item.cased_name ? item.cased_name : item.name }}
                </li>
        </ul>
    </div><!-- END APP CONTAINER -->
</template>

<script>
export default {
    props: ["url", "dataStore", "minimumSearchLength", "label", "required"],
    data() {
        return {
            query: '',
            results: [],
            isOpen: false,
            isSelectionMade: false,
            //results: [{"isActive":true,"name":"ARLENE SPERRY","unid":"u0279190","email":"u0279190@utah.edu","almail":"","edupersonprincipalname":"u0279190@utah.edu","mail":"","title":"","department":"","phonenumber":"","job_items":""},{"name":"GORDON BOYLE","unid":"u0279191","email":"u0279191@utah.edu","almail":"","edupersonprincipalname":"u0279191@utah.edu","mail":"","title":"","department":"","phonenumber":"","job_items":""},{"name":"RYAN TAYLOR","unid":"u0279192","email":"u0279192@utah.edu","almail":"ryan.d.taylor@utah.edu","edupersonprincipalname":"u0279192@utah.edu","mail":"ryan.d.taylor@utah.edu","title":"Web Software Developer","department":"College Of Engineering-Dean","phonenumber":"801/585-9034","job_items":[{"jc":"1120","dp":"00051","dd":"College Of Engineering-Dean","lc":"0062016500","bf":"1","bn":"0062","br":"1650","ld":"JOHN AND MARVA WARNOCK ENGINEE","ft":"1","pn":" ","rp":"","sq":"0"}]},{"name":"SHAWNDA STEVENS","unid":"u0279193","email":"u0279193@utah.edu","almail":"","edupersonprincipalname":"u0279193@utah.edu","mail":"sstevens@dsdmail.net","title":"","department":"","phonenumber":"","job_items":""},{"name":"KENT HICKEY","unid":"u0279194","email":"u0279194@utah.edu","almail":"","edupersonprincipalname":"u0279194@utah.edu","mail":"DAWNPAIGE@HOME.COM","title":"","department":"","phonenumber":"","job_items":""},{"name":"R. BRIDGE","unid":"u0279195","email":"u0279195@utah.edu","almail":"","edupersonprincipalname":"u0279195@utah.edu","mail":"","title":"","department":"","phonenumber":"","job_items":""},{"name":"CRISTINE RASMUSSEN","unid":"u0279197","email":"u0279197@utah.edu","almail":"","edupersonprincipalname":"u0279197@utah.edu","mail":"","title":"","department":"","phonenumber":"","job_items":""},{"name":"RIDGLEY BOWERS","unid":"u0279198","email":"u0279198@utah.edu","almail":"","edupersonprincipalname":"u0279198@utah.edu","mail":"","title":"","department":"","phonenumber":"","job_items":""},{"name":"DONALD BOLING","unid":"u0279199","email":"u0279199@utah.edu","almail":"don.boling@utah.edu","edupersonprincipalname":"u0279199@utah.edu","mail":"michl.2003@yahoo.com","title":"","department":"","phonenumber":"","job_items":""}],
            minimumSearch: this.minimumSearchLength,
            previousQ: '',
            activeIndex: 0,
            maxQuerySize: 10,
            searching: false,
            semesters: [],
            selectedPerson: { //placeholder -- to be filled when someone is selected
                "isActive":false,
                "name":"",
                "unid":"",
                "email":"",
                "almail":"",
                "edupersonprincipalname":"",
                "mail":"",
                "title":"",
                "department":"",
                "departments":[],
                "phonenumber":"",
                "job_items":[],
                "semester_begin":""
            }
        }
    },
    methods:{
        keyPress: function(event) {
            this.updateActiveIndexByKeyPress(event);
            this.$emit('input', this.query);
        },
        search: function(event) {
            _.debounce(this.debouncedSearch, 1000)();
        },
        debouncedSearch: function(a1) {
            //don't run query if less than x characters
            if(!this.minimumLengthRequirement(this.query)) { return; }
            
            //don't run query if it hasn't changed (control keys?)
            if(this.previousQ == this.query) { return; }
            
            //run ldap query (and abort in-flight queries)
            this.ldapQuery(this.query);
        },
        ldapQuery: function(q) {
            this.searching = true;
            this.isOpen = false;
            var params = {
                limit: this.maxQuerySize,
                q: q,
                dataStore: this.dataStore
            }
            this.$http.get(this.url, {
                before: function(request) {
                    // abort previous request, if exists
                    if (this.previousRequest) {
                        this.previousRequest.abort();
                    }

                    // set previous request on Vue instance
                    this.previousRequest = request;
                    this.previousQ = q;
                },
                params: params
            }).then(function(response) {
                return response.json();
            }).then(function(response) {
                if (response.success) {
                    this.results = response.response;
                    this.clearActiveIndex();
                } else {
                    //HELPERS.Modal.launchAlert('Oops, there was an error');
                }
                this.searching = false;
                this.isOpen = true;
            }).catch(function(error_response) {
                //HELPERS.Modal.launchAlert('Oops, there was an error!!!');
                this.searching = false;
            });
        },
        minimumLengthRequirement: function(q) {
            return this.query.length >= this.minimumSearch;
        },
        updateActiveIndexByKeyPress: function(event) {
            var newIndex = this.activeIndex;
            if (event.key == 'ArrowDown') {
                newIndex = (this.activeIndex + 1) % this.results.length;
            } else if (event.key == 'ArrowUp') {
                newIndex--;
                if (newIndex < 0) {
                    newIndex = this.results.length - 1;
                }
            } else if (event.key == 'Enter') {
                this.selectionMade();
            } else if (event.key == 'Escape') {
                this.unMakeSelection();
            }
            this.setActiveIndex(newIndex);
        },
        selectionMade: function() {
            this.isOpen = false;
            this.query = this.selectedPerson.unid + ": " + 
                         (this.selectedPerson.cased_name ? this.selectedPerson.cased_name : this.selectedPerson.name) ;
            this.isSelectionMade = true;
            this.$emit('input', this.selectedPerson);
        },
        setActiveIndex: function(i) {
            var initialIndex = this.activeIndex;
            this.activeIndex = i;
            
            if(this.results[initialIndex]) {
                this.results[initialIndex]['isActive'] = false;
                this.$set(this.results, initialIndex, this.results[initialIndex]);
            }
            
            if(this.results[i]) {
                this.results[i]['isActive'] = true;
                this.selectedPerson = this.results[i];
                this.$set(this.results, i, this.results[i]);
            }
        },
        clearActiveIndex: function(i) {
            var initialIndex = this.activeIndex;
            this.activeIndex = -1;
            if(this.results[initialIndex]) {
                this.results[initialIndex]['isActive'] = false;
                //since vue can't detect child array changes
                this.$set(this.results, initialIndex, this.results[initialIndex]);
            }
        },
        unMakeSelection: function() {
            this.isSelectionMade = false;
            
            this.query = "";
            this.$emit('clear-text');
        },
        getContent: function() {
            return this.query;
        }
    },
    mounted: function () {
        // document.addEventListener('keyup', this.keyPress);
    }
};
</script>

<style>
#selection {
    position: relative;
}

.close-icon
{
  /* https://stackoverflow.com/a/20139794/1243508 */
  position: absolute;
  top: 5px;
  right: 10px;
  box-sizing:border-box;
  width:20px;
  height:20px;
  border-width:3px;
  border-style: solid;
  border-color:#e3e3e3;
  border-radius:100%;
  background: -webkit-linear-gradient(-45deg, transparent 0%, transparent 46%, white 46%,  white 56%,transparent 56%, transparent 100%), -webkit-linear-gradient(45deg, transparent 0%, transparent 46%, white 46%,  white 56%,transparent 56%, transparent 100%);
  background-color:#e3e3e3;
  /* box-shadow:0px 0px 5px 2px rgba(0,0,0,0.5); */
  transition: all 0.3s ease;
}

</style>
